:root{
    --bg-Blue:#93B5C9;
    --bg-Wine:#AB2849;
}

.containerB {
    width: 1380px;
    background-color: var(--bg-Blue);
    padding: 40px;
}

.containerW {
    width: 1340px;
    background-color: var(--bg-Wine);
    padding: 60px;
}

.containerW2 {
    width: 1200px;
    background-color: var(--bg-Wine);
    padding: 60px;
    float: right;
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 60px;
}

.containerp {
    width: 900px;
    background-color: var(--bg-Wine);
    padding: 50px;
    margin-top: 60px;
    float: left;
}
